.container {
  width: 100%;
}

.btn {
  width: 140px;
  height: 30px;
  margin: 10px auto;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  background-color: rgb(94, 209, 209);
  border: none;
  box-shadow: 0 0 4px 2px rgb(2, 161, 161);
  transition: background-color 2s ease, color 2s ease;
  padding: 0;
}

.btn:hover {
  cursor: pointer;
  background-color: teal;
  color: #fafafa;
  border: none;
}

.btn:focus {
  border-color: greenyellow;
  outline: none;
}
